html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-custom {
    background-color: #966715 !important;
    border-color: #966715 !important;
    color: white !important;
}

    .btn-custom:hover {
        background-color: #7a500f !important;
    }


.card-img-top {
    height: 220px;
    object-fit: cover;
}

.card-body {
    background-color: #f0e2d1 !important;
}

.custom-navbar {
    background-color: #f0e2d1 !important;
}

.custom-footer {
    background-color: #f0e2d1 !important;
}